@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,700&display=swap");
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

/*reset*/

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

/*common*/

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/*haeder*/

.page-heder {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list,
.contacts {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.heder-logo {
  padding: 16px 0;
  display: block;
}

.heder-logo .logo-part {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .heder-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .heder-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .nav-link {
    padding: 24px 0;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.current {
    position: relative;
  }

  .nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }
  .contacts {
    font-style: normal;
    display: block;
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-link:hover,
  .contacts-link:focus,
  .nav-link:hover,
  .nav-link:focus,
  .nav-link.current {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .heder-logo {
    margin-right: 76px;
  }

  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:focus {
  background-color: #404bbf;
  border: none;
}

.mobile-menu-close:focus .icon-close {
  fill: #ffffff;
}

.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
}

.mobile-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-s-m-link:focus,
.mobile-nav-link:focus,
.mobile-nav-link.current {
  color: #404bbf;
}

.mobile-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-contacts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}

.mobile-social-m-list {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 48px;
}

.mobile-s-m-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-icons-s-m {
  fill: #f4f4fd;
}

.mobile-s-m-link:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/*hero*/

.hero {
  background-color: #2e2f42;
  padding: 72px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-mob@x1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/bg-mob@x2.jpg");
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    min-height: 436px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/bg-tab@x1.jpg");
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/bg-tab@x2.jpg");
  }
}

@media only screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    min-height: 600px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/bg-des@x1.jpg");
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/bg-des@x2.jpg");
  }
}
.hero-title {
  max-width: 216px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.hero-button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 16px 0;
  border: 0;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 112px 0;
    max-width: 768px;
  }

  .hero-title {
    max-width: 496px;
    margin-bottom: 36px;
    line-height: 1, 07;
    font-size: 56px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;
    max-width: 1440px;
  }

  .hero-title {
    max-width: 496px;
    margin-bottom: 48px;
    line-height: 1, 07;
    font-size: 56px;
  }
}

/*main*/

/*section advantage*/

.section-advantages {
  padding: 96px 0;
}

.list-advnt {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.item-advnt {
  width: 100%;
}
.cont-icons {
  display: none;
}

.subtitle-advent {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-bottom: 8px;
}

.text-body {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
@media screen and (min-width: 768px) {
  .item-advnt {
    width: calc((100% - 24px) / 2);
  }

  .list-advnt {
    gap: 72px 24px;
  }

  .subtitle-advent {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .section-advantages {
    padding: 120px 0;
  }
  .item-advnt {
    width: calc((100% - 72px) / 4);
  }
  .cont-icons {
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }
  .subtitle-advent {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .text-body {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
}

/*section team*/
.section-team .container {
  padding-left: 28px;
  padding-right: 28px;
}

.section-team {
  padding: 96px 0;
  background-color: #f4f4fd;
}

.subject.team-subject {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.list-team {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.item-team {
  padding: 32px 0;
}

.subtitle-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.item-team .text-body {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 8px;
}

.social-m-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-m-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-social-m {
  fill: #f4f4fd;
}

.social-m-link:hover,
.social-m-link:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .section-team .container {
    padding-left: 108px;
    padding-right: 108px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }

  .list-team {
    gap: 64px 24px;
    margin-left: 28px;
    margin-top: 28px;
  }
}

@media screen and (min-width: 1158px) {
  .section-team .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .team-item {
    width: calc((100% - 72px) / 4);
  }

  .section-team {
    padding: 120px 0;
  }
}

/*section portfolio*/
.section-portfolio {
  padding: 96px 0;
}
.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.item-portfolio {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.item-banking {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sumb {
  position: relative;
  overflow: hidden;
}
.item-banking:hover .text-sumb {
  transform: translateY(0%);
}

.text-sumb {
  top: 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subject {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.subtitle-port {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.item-advnt .subtitle {
  margin-bottom: 8px;
}

.text-body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (max-width: 1157px) {
  .item-banking {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}

@media screen and (min-width: 768px) {
  .list-portfolio {
    gap: 72px 24px;
  }
  .item-banking {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .section-portfolio {
    padding: 120px 0;
  }
  .list-portfolio {
    gap: 48px 24px;
  }

  .item-banking {
    width: calc((100% - 48px) / 3);
  }

  .item-banking:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}

/*footer*/

.footer-cont {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  align-items: baseline;
}
.paje-footer {
  padding: 100px 0;
  background-color: #2e2f42;
}
.wrapper-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-text {
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.wrapper-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.wrapper-social .social-m-list {
  display: flex;
  gap: 16px;
}

.footer-text-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.ftr-social-m-link:hover,
.ftr-social-m-link:focus {
  background-color: #31d0aa;
}

.footer-wrapper {
  margin-left: auto;
}

.footer-wrapper-text {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.footer-form {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}
.footer-form-input {
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  opacity: 0.3;
  border-radius: 4px;
  color: #ffffff;
}

.footer-form-input:focus {
  border-color: #31d0aa;
}
.footer-form-input::placeholder {
  color: #ffffff;
}

.footer-form-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.footer-form-button:focus {
  background-color: #31d0aa;
}

.footer-form-button:hover,
.footer-form-button:focus {
  background-color: #31d0aa;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.footer-form-icon {
  margin-left: 16px;
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer-form-input {
    width: 264px;
  }

  .footer-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    align-items: baseline;
  }

  .footer-text-social {
    text-align: start;
  }
  .wrapper-social {
    flex-direction: column;
  }
  .wrapper-logo {
    display: block;
  }

  .footer-wrapper-text {
    text-align: start;
  }

  .footer-form {
    margin-right: 207px;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 768px) and (max-width: 1158px) {
  .footer-cont {
    width: 584px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-cont {
    gap: 0 0;
    padding: 0 15px;
  }

  .footer-form {
    margin-right: 0;
  }
  .wrapper-logo {
    margin-right: 120px;
  }

  .footer-wrapper {
    margin-left: 80px;
  }
}

/*modal*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 16px 16px;
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}
.form {
  top: 112px;
  left: 24;
}
.btn-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal:hover,
.btn-modal:focus {
  background-color: #404bbf;
  border: none;
}

.btn-modal:hover .icon-close,
.btn-modal:focus .icon-close {
  fill: #ffffff;
}

.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.txt-modal {
  top: 72px;
  left: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form-vrapper {
  margin-bottom: 8px;
}
.form-person-lable {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.cont-person {
  position: relative;
}
.form-person-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-person-input:focus {
  border-color: #4d5ae5;
}
.form-person-input:focus + .form-person-icon {
  fill: #4d5ae5;
}

.form-person-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment {
  margin-bottom: 16px;
}

.txtarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.txtarea:focus {
  border-color: #4d5ae5;
}

.check-label {
  margin-bottom: 24px;
}

.user-lab {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.part-privacy {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;

  margin-right: 8px;
}
.part-privacy {
  flex-shrink: 0;
}
.visually-hidden:checked + .user-lab > .part-privacy {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.link-privacy {
  color: #4d5ae5;
}

.btn-form {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}

.btn-form:hover,
.btn-form:focus {
  background-color: #404bbf;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}

@media screen and (min-width: 1158px) {
}
