@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,700&display=swap");
:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

body,
h1,
h2,
h3,
h4,
p,
li {
  margin: 0;
}

input,
textarea,
select {
  font: inherit;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  outline: none;
  font-style: normal;
  color: currentColor;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.is-open {
  display: block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.block-center {
  display: block;
  text-align: center;
}
.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
.section {
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
}

.header {
  border-bottom: 1px solid #e7e9fc;
  background: var(--color-white);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-blue {
  color: #4d5ae5;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-dark {
  color: #2e2f42;
  margin-right: 120px;
}

.logo-white {
  color: #f4f4fd;
}
.menu.is-open {
  opacity: 1;
  transform: translateY(0);
}
.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  padding: 16px 16px 40px 16px;
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-open-btn {
  padding-block: 16px;
}

.menu-open-btn,
.menu-close-btn {
  background-color: inherit;
  border: none;
}
.menu-close-btn {
  display: block;
  margin-left: auto;
  cursor: pointer;
  padding: 0;
}

.menu-close-btn-icon {
  border-radius: 50%;
  padding: 7px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #f4f4fd;
  fill: v#2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn-icon:hover,
.menu-close-btn-icon:focus {
  fill: white;
  background-color: #404bbf;
}
.header-nav {
  margin-top: 24px;
  margin-bottom: 168px;
}

.header-nav-list {
}

.header-nav-list-item + .header-nav-list-item {
  margin-top: 40px;
}

.header-nav-list-item-link {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-list-item-link:hover,
.header-nav-list-item-link:focus,
.header-nav-list-item-link.current {
  color: #404bbf;
}

/* CONTACTS */
.header-contacts-wrapper {
  margin-bottom: 48px;
}

.header-contacts-list {
}

.header-contacts-list-item + .header-contacts-list-item {
  margin-top: 24px;
}
.header-contacts-list-item-link {
  color: #434455;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-list-item-link:hover,
.header-contacts-list-item-link:focus {
  color: #4d5ae5;
}

.menu > .social-container {
  gap: 40px;
}

.menu .social-item {
}

.menu .social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu .social-link:hover,
.menu .social-link:focus {
  background-color: #404bbf;
}

.menu .social-link-icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}
.menu-close-btn {
  display: none;
}

.logo-blue {
}

.logo-dark {
  margin-right: 0;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.header-nav {
  margin-top: 0;
  margin-bottom: 0;
}

.header-nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
  position: inherit;
}

.menu.is-open {
  display: flex;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  height: auto;
  position: inherit;
  margin-left: 120px;
  transform: translateY(0);
  opacity: 1;
  transition: transform 0ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu > .social-container {
  display: none;
}

.header-nav-list-item + .header-nav-list-item {
  margin-top: 0;
}

.header-nav-list-item-link {
  position: relative;
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-block: 20px;
}

.header-nav-list-item-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: right;
  background-color: #404bbf;
  border-radius: 2px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-list-item-link:hover::after,
.header-nav-list-item-link:focus::after,
.header-nav-list-item-link.current::after {
  opacity: 1;
  transform: scaleX(1);
  transform-origin: left;
}

.header-contacts-wrapper {
  margin-bottom: 0;
}

.header-contacts-list-item + .header-contacts-list-item {
  margin-top: 12px;
}

.header-contacts-list-item-link {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.04em;
}

@media screen and (min-width: 1158px) {
  .header-nav-list-item:first-child:after,
  .header-nav-list-item:active:after {
    bottom: -17px;
  }

  .header-contacts-list {
    display: flex;
    gap: 40px;
  }

  .header-contacts-list-item + .header-contacts-list-item {
    margin-top: 0;
  }

  .header-contacts-list-item-link {
    color: v#434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-block: 24px;
  }
}

/* HERO */

.order-section {
  max-width: 320px;
  margin: 0 auto;
  padding: 72px 0;
  text-align: center;
  background-color: #2e2f42b2;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/Dark-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.order-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  margin: 0 auto 72px;
  max-width: 55%;
  color: white;
}

.order-button {
  color: white;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .order-section {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/Dark-bg-tablet-min.jpg");
  }

  .order-title {
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
}
/* 2x screens, retina, 640x864 image */
@media (min-resolution: 192dpi) {
  .order-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/Dark-bg-mobile@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  /* 2x screens, retina, 1536x872 image */
  @media (min-resolution: 192dpi) {
    .order-section {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/Dark-bg-tablet-min@2x.jpg");
    }
  }
}

@media screen and (min-width: 1158px) {
  .order-section {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/people_office_desctop.jpg");
  }
  /* 2x screens, retina, 12880x1200 image */
  @media (min-resolution: 192dpi) {
    .order-section {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/people_office_desctop@2x.jpg");
    }
  }

  .order-title {
    margin-bottom: 48px;
  }
}

/* STRATAGY SECTION */

.strategy-icon-box {
  display: none;
}

.strategy-title {
  text-align: center;
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.strategy-text {
  color: #434455;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .strategy-list-item + .strategy-list-item {
    margin-top: 72px;
  }
}

@media screen and (min-width: 768px) {
  .strategy-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .strategy-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .strategy-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .strategy-list {
  }

  .strategy-list-item {
    max-width: 264px;
    flex-basis: calc((100% - 72px) / 4);
  }
  .strategy-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE);
    background: var(--CLOUD);

    padding: 24px 100px;
    margin-bottom: 8px;
  }

  .strategy-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .strategy-text {
    font-weight: 400;
    letter-spacing: 0.01em;
  }
}

/* OUR TEAM SECTION */
.team-section {
  background-color: var(--CLOUD);
}

.team-section-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-section-item {
  max-width: 264px;
  margin: 0 auto;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  padding-bottom: 32px;
}

.team-section-item + .team-section-item {
  margin-top: 72px;
}

.team-card {
  margin-bottom: 32px;
}

.team-text-box {
}

.team-item-title {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-item-text {
  color: #434455;
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.team-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  background-color: #4d5ae5;
  border-radius: 50%;
  background-size: cover;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #404bbf;
}

.social-icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .team-section-item + .team-section-item {
    margin-top: 0;
  }

  .team-section-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }

  .team-section-item {
    margin: 0;
  }
}

@media screen and (min-width: 1158px) {
  .team-section-list {
    flex-wrap: nowrap;
  }
}

/* OUR PORTFOLIO SECTION */
.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-item {
  max-width: 360px;
  border: 1px solidv#e7e9fc;
  background-color: white;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item + .portfolio-item {
  margin-top: 48px;
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-item-link {
}

.portfolio-overlay-container {
  position: relative;
  overflow: hidden;
  margin-bottom: 32px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--IRIS);
  padding: 40px 32px;
}

.portfolio-item:hover .portfolio-overlay-container .overlay {
  transform: translateY(0%);
}

.portfolio-text-box {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 32px;
}

.portfolio-item-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-item-text {
  color: #434455;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 72px 24px;
  }

  .portfolio-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .portfolio-item + .portfolio-item {
    margin-top: 0;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
    row-gap: 48px;
  }

  .portfolio-item {
    flex-basis: calc((100% - 48px) / 3);
  }
}

/* FOOTER */
.footer-logo-container {
}

.footer-wrapper {
  background-color: var(--NAVY_BLUE);
}

.footer-text {
  color: var(--CLOUD);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 17.5px;
}

.footer-social-wrapper {
  margin-top: 72px;
  margin-bottom: 72px;
}

.footer-social-tittle {
  color: var(--WHITE);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}

.footer-social-container {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-social-icon {
  fill: currentColor;
}

.footer-subs-text {
  color: white;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02px;
  text-align: center;
  margin-bottom: 16px;
}

.footer-subs-label {
  text-align: center;
  display: block;
}

.footer-subs-btn {
  color: white;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: none;
  margin: 0 auto;
  min-width: 165px;
  padding: 8px 24px;
  border-radius: 4px;
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.footer-subs-btn-icon {
  fill: white;
}

.footer-subs-btn:hover,
.footer-subs-btn:focus {
  background-color: #404bbf;
}

.footer-subs-label + .footer-subs-btn {
  margin-top: 16px;
}

.footer-subs-input {
  border-radius: 4px;
  border: 1px solid #fff;
  opacity: 0.3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: #2e2f42;
  min-width: 264px;
  height: 40px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: white;
  padding: 8px 16px;
}

.footer-subs-input::placeholder {
  color: white;
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .footer-center-conent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .flex-element {
    width: 36%;
  }

  .flex-element:last-child {
    flex-grow: 0.6;
  }

  .footer-logo-container {
  }

  .logo-blue.block-center {
    text-align: left;
  }

  .footer-text {
  }

  .footer-social-wrapper {
    margin-top: 0;
    margin-bottom: 0;
  }

  .footer-social-tittle {
    text-align: left;
  }

  .footer-social-container {
    justify-content: flex-start;
  }

  .footer-subs {
  }

  .footer-subs-text {
    text-align: left;
  }

  .form-container {
    display: flex;
    gap: 24px;
  }

  .footer-subs-input {
    max-width: 264px;
  }

  .footer-subs-label + .footer-subs-btn {
    margin-top: 0;
  }

  .footer-subs-btn {
    margin: 0;
  }
}

@media screen and (min-width: 1158px) {
  .footer-center-conent {
    justify-content: space-between;
  }

  .footer-logo-container {
    max-width: 264px;
  }

  .flex-element {
    width: inherit;
  }

  .flex-element:last-child {
    flex-grow: inherit;
  }
}

/* BACKDROP */

.backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #2e2f4266;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.backdrop.is-open .modal {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
/*
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 288px;
  padding: 24px 16px;
  border-radius: 4px;
  background-color: var(--DARIY);
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  display: block;
  margin-left: auto;
  background-color: var(--CORNFLOWER);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 7px;
  margin-bottom: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn :focus {
  background-color: var(--OCEAN);
  fill: var(--WHITE);
}

.modal-title {
  color: var(--NAVY-BLUE);
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-form-label {
  display: block;
  color: var(--LIGHT-SLATE);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.modal-input-box {
  position: relative;
}

.modal-form-input {
  outline: transparent;
  padding-left: 38px;
  margin-bottom: 8px;
  width: 100%;
  height: 40px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.04em;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--NAVY_BLUE_MODAL);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: var(--IRIS);
}

.modal-form-input:focus + .modal-icon {
  fill: var(--IRIS);
}

.modal-icon {
  fill: var(--NAVY_BLUE);
  position: absolute;
  left: 16px;
  top: 15%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea-wrapper {
  margin-bottom: 16px;
}

.modal-form-input-text-area {
  width: 100%;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid var(--NAVY_BLUE_MODAL);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.04em;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input-text-area::placeholder {
  color: var(--LIGHT-SLATE);
  opacity: 0.5;
}

.modal-form-input-text-area:focus {
  border-color: var(--IRIS);
}

.modal-ckeckbox-wrapper {
  margin-bottom: 24px;
}

.modal-check-box-label {
  display: flex;
  color: var(--LIGHT-SLATE);
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.04em;
}
.modal-icon-check-svg {
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox-icon-wrapper {
  margin: auto;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  flex-shrink: 0;
}

.modal-check-box-input:not(:checked)
  + .modal-check-box-label
  .modal-icon-check-svg {
  opacity: 0;
}

.modal-check-box-input:checked
  + .modal-check-box-label
  .modal-checkbox-icon-wrapper {
  border: none;
}

.modal-policy-link {
  color: var(--IRIS);
  font-size: 12px;
  line-height: 1.33;
  text-decoration-line: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-submit {
  display: block;
  border: none;
  border-radius: 4px;
  background-color: var(--IRIS);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  color: var(--WHITE);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  height: 56px;
  min-width: 169px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-btn-submit:hover,
.modal-btn-submit:focus {
  background-color: var(--OCEAN);
}
*/
